body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.container {
	width: 940px;

	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	background-color: #ee3643;

	font-family: Cuprum, sans-serif;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	border-radius: 2px; 
}

.btn:hover,
.btn:focus {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

.page-header {
	font-family: Cuprum, sans-serif;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;

	padding-bottom: 60px;
	margin-bottom: 25px;

	background-color: #f2f6f8;
}

.page-header .container {
	display: flex;
}

.header-top-wrapper {
	background-color: #293449;
}

.header-top {
	margin-bottom: 45px;
}

.header-top a {
	color: #ffffff;
}

.header-top a:active {
	opacity: 0.6;
}

.logo{
	background-color: #ee3643;
	box-shadow: 0 5px 0 #b52933;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.header-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 47px;
}

.search-form {
	width: 240px;
	margin-left: 10px;
}

.search-form input {
	font-family: Cuprum, sans-serif;
	color: #000000;
	font-size: 17px;
	line-height: 18px;

	background-color: transparent;
	border: none;
}

.search-form input::placeholder {
	font: inherit;
	color: #ffffff;
}

.search-form input:focus {
	outline: none;
	background-color: #ffffff;
}

.bookmarks,
.basket {
	width: 150px; 

	margin-left: 10px;
}

.bookmarks {
	margin-left: auto;
}

.basket-active {
	background-color: #ee3643;
}

.place-an-order {
	width: 150px;

	background-color: #63a63e;
}

.header-middle {
	margin-bottom: 40px;
}

.header-description {
	width: 300px;
	
	margin: 0;
	padding: 0;

	font-family: Cuprum, sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.header-contacts {
	width: 300px;

	margin-left: auto; 
}

.header-contacts a {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.header-contacts p {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-navigation,
.site-navigation,
.loged-user-navigation {
	list-style: none;
}

.user-navigation {
	width: 300px;
	
	margin: 0;
	margin-left: auto;
	padding: 0;
}

.user-navigation a {
	background-color: #ffffff;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
}

.user-navigation a:hover,
.user-navigation a:focus  {
	color: #ee3643;
}

.user-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.loged-user-navigation a{
	font-family: Cuprum, sans-serif;
	color: #32425c;
	text-decoration: underline;
	font-size: 16px;
	line-height: 18px;
}

.loged-user-navigation a:hover {
	color: #ee3643;
}

.loged-user-navigation a:active {
	color: #32425c;
	opacity: 0.3;
}

.user-name {
	font-family: Cuprum, sans-serif;
	color: #000000;
	font-size: 21px;
	line-height: 21px;

	background-color: #ffffff;
}

.main-navigation {
	width: 940px;
	padding: 0;

	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449;
}

.site-navigation a {
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;

}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;

	opacity: 0.5;
}

.suggestions {
	margin-bottom: 53px;
}

.categories {
	display: flex;
	list-style: none;

	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.category {
	width: 300px;
}

.category h3 {
	font-family: Cuprum, sans-serif;
	color: #ffffff;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

}

.materials {
	margin-right: 20px; 

	background-color: #ffbf47;
	background-image: url("../img/png/icon-1.png");
	background-position: 100% 50%;
	background-repeat: no-repeat;

}

.tool {
	margin-right: 20px; 

	background-color: #3bbce3;
	background-image: url("../img/png/icon-2.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.equipment {
	background-color: #dc91d8;
	background-image: url("../img/png/icon-3.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.slider-and-advantages {
	display: flex;
}

.advantages {
	list-style: none;

	margin: 0;
	margin-left: auto;
	padding: 0;
}

.discounts {
	background-color: #8ed78f;
	background-image: url("../img/png/icon-4.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.free-delivery {
	background-color: #ffc047;
	background-image: url("../img/png/icon-5.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.category-btn {
	background-color: rgba(0, 0 , 0, 0.1);
}

.category-btn:hover,
.category-btn:focus {
	background-color: rgba(0, 0 , 0, 0.2);
}

.category-btn:active {
	background-color: rgba(0, 0 , 0, 0.3);
}

.slider {
	width: 620px;
	margin-right: auto;
}

.slider-title h3 {
	font-family: Cuprum, sans-serif;
	color: #ffffff;
	font-size: 36px;
	line-height: 30px;
	font-weight: 700;
}

.slider-title p {
	color: #ffffff;
	font-size: 18px;
}

.slider-drills {
	background-image: url("../img/slider2.jpg");
	background-size: cover; 
}

.slider-perforators {
	background-image: url("../img/slider1.jpg");
	background-size: cover; 
}

.popular-title {
	background-color: #f9f5f0;
}

.popular-title {
	display: flex;
	margin-bottom: 20px;
}

.popular-title .btn {
	margin-left: auto;
	margin-right: 25px;
}

.popular-title h2 {
	margin-left: 30px;

	font-family: Cuprum, sans-serif;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.popular-manufacturers {
	margin-bottom: 70px;
}

.popular-manufacturers-list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.manufacturer {
	width: 218px;
	margin-right: 20px;
	margin-bottom: 20px;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.manufacturer:nth-child(4n) {
	margin-right: 0;
}

.manufacturer:hover,
.manufacturer:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturer:active {
	box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

.services {
	margin-bottom: 82px;
	padding-top: 65px; 

	background-color: #f4f8f9;
}

.services h2 {
	font-family: Cuprum, sans-serif;
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.services h3 {
	font-family: Cuprum, sans-serif;
	color: #32425c;
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
}

.services p {
	font-size: 13px;
	line-height: 24px;
}

.service-change {
	display: flex;

	padding-top: 75px;
}

.services-change-buttons {
	display: flex;
	flex-direction: column;

	width: 240px;

	margin-right: auto;
}

.service-change-description {
	width: 620px;

	margin-left: auto;
}

.service-btn {
	font-family: Cuprum, sans-serif;
	color: #ffffff;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;

	background-color: #32425c;

	border: none;
}

.service-btn:hover,
.service-btn:focus {
	background-color: #293449;
} 

.service-btn-active {
	font-family: Cuprum, sans-serif;
	color: #32425c;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;

	background-color: #ffffff;
}

.service-btn-active:hover,
.service-btn-active:focus {
	color: #ffffff;
	
	background-color: #293449;
}

.delivery {
	background-image: url("../img/png/delivery.png");
	background-repeat: no-repeat;
	background-position: 100%, 50%;
}

.warranty {
	background-image: url("../img/png/guarantee.png");
	background-repeat: no-repeat;
	background-position: 100%, 50%;
}

.credit {
	background-image: url("../img/png/credit.png");
	background-repeat: no-repeat;
	background-position: 100%, 50%;
}

.columns.container {
	display: flex;
	margin-bottom: 85px;
}

.about-us {
	width: 540px;
}

.about-us h2 {
	font-family: Cuprum, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.about-us ul {
	list-style: none;

	font-family: Cuprum, sans-serif;
	font-size: 18px;
	line-height: 20px;
}

.contacts {
	width: 300px;

	margin-left: auto;
}

.contacts h2 {
	font-family: Cuprum, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.breadcrumbs {
	list-style: none;

	padding: 0;
	margin-bottom: 25px;
}

.breadcrumbs a {

	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.perforators {
	margin-bottom: 20px;
}

.perforators h1 {
	width: 940px;
	padding: 0;

	font-family: Cuprum, sans-serif;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;

	background-color: #f2f6f8;
}

.filters-and-catalog {
	display: flex;
}

.filters {
	width: 220px;
}

.filters fieldset {
	border: none;
}

.filters legend {
	color: #000000;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.filter p {
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #f7f3ec;
}

.price-filter_range-dots {
	background-color: #f7f3ec;
}

.range-output input {
	background-color: #f7f3ec;
	border: none;

	color: #000000;
	font-size: 17px;
	line-height: 18px;
}

.output-spacing {
	color: #444444;
	font-size: 16px;
	line-height: 18px;
}

.fiter-input-checkbox + label,
.filter-input-radio + label {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.fiter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
	opacity: 0.4;
}

.manufacturers-filter ul {
	list-style: none;
}

.power-filter ul {
	list-style: none;
}

.filter-button {
	color: #000000;
	font-size: 13px;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.sorting-and-catalog {
	width: 700px;
	margin-left: auto;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;

	list-style: none;

	margin: 0;
	padding: 0;
}

.catalog-item {
	width: 218px;

	margin-right: 20px;
	margin-bottom: 20px;

	background-color: #ffffff;
	border: 1px solid #eaeaea;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item.popular-item {
	margin-right: 20px;
}

.catalog-item.popular-item:last-child {
	margin-right: 0;
}

.catalog-item:hover,
.catalog-item:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-name {
	color: #000000;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
}

.old-price {
	color: #999999;
	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;
}

.price-btn {
	font-size: 17px;
}

.sorting {
	background-color: #f7f3ec;
}

.sorting a {
	color: #000000;
	font-size: 13px;
	line-height: 18px;

	opacity: 0.3;
	text-transform: uppercase;

	border-bottom: 1px dotted #ee3643;
}


.sorting a:hover,
.sorting a:focus {
	color: #000000;
	opacity: 1;

	border-bottom: 1px solid #ee3643;
}

.sorting h3 {
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

a.sorting-active {
	color: #ee3643;
	
	opacity: 1;
	border: none;
}

a.sorting-down {
	color: #c5c5c5;
	opacity: 1;
	border: none;
}

a.sorting-up:hover,
a.sorting-up:focus,
a.sorting-down:hover,
a.sorting-down:focus {
	color: #000000;

	border: none;
}

.pagination-list {
	display: flex;

	margin: 0;
	margin-bottom: 60px;
	margin-left: 240px;
	padding: 0;

	list-style: none;
}

.pagination-item a {
	color: #000000;
	font-size: 13px;
	line-height: 18px;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 2px; 
}

.pagination-item a:hover,
.pagination-item a:focus {
	border: 1px solid #bdc6ca;
}

.pagination-item a:active {
	border: 1px solid #ee3643;
} 

.pagination-item-current a {
	color: #ffffff;

	background-color: #ee3643;
}

.about-perforators {
	background-color: #f2f6f8;

	padding-top: 70px;
	padding-bottom: 70px;
}

.about-perforators h2 {
	font-family: Cuprum, sans-serif;
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.about-perforators p {
	color: #000000;
	font-size: 13px;
	line-height: 24px;

	margin: 0;
}

.main-footer {
	background-color: #32425c;
}

.main-footer .container {
	display: flex;
}

.main-footer a:hover,
.main-footer a:focus {
	text-decoration: underline;
}

.main-footer a:active {
	text-decoration: none;
	opacity: 0.5;
} 

.footer-top {
	margin-bottom: 50px;
}

.footer-top p {
	font-family: Cuprum, sans-serif;
	color: #f3f7f9;
	font-size: 18px;
	line-height: 24px;
}

.footer-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 68px;
}

.footer-top-contacts {
	width: 380px;
}

.footer-navigation {
	width: 550px;

	margin-left: auto;
}

.nav-top {
	list-style: none;

	margin: 0;
	padding: 0;
}

.nav-top a {
	font-family: Cuprum, sans-serif;
	color: #f1f5f7;
	font-size: 18px;
	line-height: 24px;
}

.nav-bottom {
	list-style: none;
	
	margin: 0;
	padding: 0;
}

.nav-bottom a {
	font-family: Cuprum, sans-serif;
	color: #ffd180;
	font-size: 18px;
	line-height: 24px;
}

.footer-bottom {
	background-color: #293449;

	font-family: Cuprum, sans-serif;
}

.footer-bottom .container {
	display: flex;
}

.copyright {
	width: 230px;

	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.social {
	width: 150px;
	
	margin: 0;
	margin-left: auto;
	padding: 0;

	list-style: none;
}

.social li {
	text-align: center;

	background-color: #212a3a;
}

.social li:hover,
.social li:focus,
.social li:active {
	background-color: #ee3643;
}

.feedback {
	width: 140px;

	margin-left: 100px; 

	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.feedback a {
	color: #ffda96;
}

.feedback a:hover,
.feedback a:focus {
	text-decoration: underline;
}

.feedback a:active {
	color: #ee3643;
	text-decoration: none; 
}

.developed {
	width: 140px;

	margin-left: 20px;

	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.developed a {
	color: #ffda96;
}

.developed a:hover,
.developed a:focus {
	text-decoration: underline;
}

.developed a:active {
	color: #ee3643;
	text-decoration: none;
}