body {
	min-width: 960px;

	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 940px;

	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	display: block;
	box-sizing: border-box;
	padding: 10px 0;
	text-align: center;
	background-color: #ee3643;

	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
	border-radius: 2px; 

	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

.page-header {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;

	padding-bottom: 60px;
	margin-bottom: 60px;

	background-color: #f2f6f8;
}

.catalog-page.page-header {
	margin-bottom: 23px;
}

.page-header .container {
	display: flex;
}

.header-top-wrapper {
	background-color: #293449;
}

.header-top {
	margin-bottom: 45px;
}

.header-top a {
	color: #ffffff;
}

.header-top a:active:not(.logo) {
	opacity: 0.6;
}

.logo{
	background-color: #ee3643;
	box-shadow: 0 5px 0 #b52933;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.header-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 42px;
}

.search-form {
	position: relative;
	width: 270px;
}

.search-form label {
	position: absolute;
	top: 12px;
	left: 17px;

	width: 17px;
	height: 17px;

	background-image: url("../img/svg/icon-search.svg");
	background-repeat: no-repeat;
	background-position: center;

	opacity: 0.3;
}

.user-search {
	box-sizing: border-box;
	font-family: "Cuprum", "Arial", sans-serif;
	width: 270px;
	min-height: 42px;

	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 49px;

	color: #ffffff;
	font-size: 17px;
	line-height: 18px;

	background-color: transparent;
	border: none;
}
.user-search:hover {
	background-color: #212a3a;
}

.user-search:hover+label {
	opacity: 1;
}

.user-search:focus+label {
	opacity: 1;
	background-image: url("../img/svg/icon-search-1.svg");
}

.user-search::placeholder {
	opacity: 1;
	font: inherit;
	color: #ffffff;
}

.search-form input:focus {
	outline: none;
	background-color: #ffffff;

	color: #000000;
}

.bookmarks,
.basket {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 150px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 50px; 
}

.bookmarks {
	padding-left: 45px;
}

.bookmarks:hover,
.bookmarks:focus,
.basket:hover,
.basket:focus {
	background-color: #212a3a;
}

.bookmarks:active,
.basket:active {
	background-color: #161d29;
}

.bookmarks::before {
	content: "";

	position: absolute;
	top: 13px;
	left: 17px;

	width: 14px;
	height: 16px;
	opacity: 0.3;
	background-image: url("../img/svg/icon-bookmark.svg")
}

.basket::before {
	content: "";

	position: absolute;
	top: 13px;
	left: 17px;

	width: 15px;
	height: 15px;
	opacity: 0.3;
	background-image: url("../img/svg/icon-cart.svg")
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.basket:hover::before,
.basket:focus::before {
	opacity: 1;
}

.basket-active {
	background-color: #ee3643;
}

.basket-active:hover,
.basket-active:focus {
	background-color: #ca2c37;
}

.basket-active:active {
	background-color: #ba2732;
}

.place-an-order {
	display: block;
	box-sizing: border-box;

	width: 150px;

	padding: 12px 20px;

	background-color: #63a63e;
}

.place-an-order:hover,
.place-an-order:focus {
	background-color: #5fbb2d;
}

.place-an-order:active {
	background-color: #518534;
}

.header-middle {
	margin-bottom: 40px;
}

.inner.header-middle {
	margin-bottom: 30px;
}

.header-description {
	box-sizing: border-box;
	width: 300px;

	margin: 0;
	padding: 0 50px;
	padding-top: 5px; 

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.header-contacts {
	width: 300px;

	margin-left: auto; 
}

.header-contacts p {
	margin: 0;
	margin-top: 5px;
}

.header-phone {
	position: relative;
	display: block;
	box-sizing: border-box;

	padding-left: 70px;
	padding-top: 9px;
	padding-bottom: 9px;

	width: 270px;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.header-phone::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 12px;

	width: 19px;
	height: 19px;

	background-image: url("../img/svg/icon-phone.svg");
}

.header-contacts p {
	padding-left: 10px;

	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-navigation,
.site-navigation,
.loged-user-navigation {
	list-style: none;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 300px;

	margin: 0;
	margin-left: auto;
	padding: 0;
}

.user-navigation a {
	position: relative;
	display: block;
	box-sizing: border-box;
	background-color: #ffffff;

	color: #000000;
	font-size: 21px;
	line-height: 21px;

	padding-top: 12px;
	padding-bottom: 12px;
}

.login-link {
	width: 121px;
	padding-left: 45px;
	margin-left: 20px;
}

.login-link::before {
	content: "";

	position: absolute;
	top: 14px;
	left: 14px;

	width: 20px;
	height: 17px;

	background-image: url("../img/svg/icon-login.svg");
}

.registration-link {
	width: 150px;

	padding-left: 25px;
}

.login-link:hover span,
.registration-link:hover span {
	color: #ee3643;
}

.login-link:hover::before {
	background-image: url(../img/svg/icon-login-1.svg);
}

.login-link:active::before {
	background-image: url(../img/svg/icon-login.svg);
}

.login-link:active span,
.registration-link:active span {
	color: #000000;
	opacity: 0.3;
}

.user-name {
	position: relative;
	display: block;
	width: 100%;

	padding: 13px 0;
	padding-left: 48px;
}

.user-name::before {
	content: "";

	position: absolute;
	left: 13px;
	top: 13px;

	width: 20px;
	height: 18px;
	background-image: url("../img/svg/icon-user.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.user-name::after {
	content: "";

	position: absolute;
	top: 14px;
	right: 10px;

	width: 20px;
	height: 17px;
	background-image: url("../img/svg/icon-login.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.user-name:hover::before,
.user-name:focus::before {
	background-image: url("../img/svg/icon-user-1.svg");
}

.user-name:hover::after,
.user-name:focus::after {
	background-image: url("../img/svg/icon-login-1.svg");
}

.user-name:active::before {
	background-image: url("../img/svg/icon-user.svg");
}

.user-name:active::after {
	background-image: url("../img/svg/icon-login.svg");
}

.user-name:active span {
	opacity: 0.3;
}

.loged-user-navigation {
	display: flex;
	padding: 0;
	margin: 0; 
}

.loged-user-navigation a{
	padding-top: 8px;

	font-family: "Cuprum", "Arial", sans-serif;
	color: #32425c;
	text-decoration: underline;
	font-size: 16px;
	line-height: 18px;
	background: transparent;
}

.my-orders {
	position: relative;
	margin-left: 18px;
}

.my-orders::after {
	content: "";

	position: absolute;
	right: -19px;
	top: 16px;
	width: 5px;
	height: 5px;
	background-color: #32425c;
	border-radius: 50%; 
}

.my-office {
	margin-left: 32px;
}

.loged-user-navigation a:hover {
	color: #ee3643;
}

.loged-user-navigation a:active {
	color: #32425c;
	opacity: 0.3;
}

.user-name {
	font-family: "Cuprum", "Arial", sans-serif;
	color: #000000;
	font-size: 21px;
	line-height: 21px;

	background-color: #ffffff;
}

.main-navigation {
	display: flex;
	width: 940px;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449;
}

.site-navigation {
	display: flex;

	flex-wrap: wrap;
	padding: 0;
	margin: 0 auto;
}

.site-navigation a {
	display: block;
	vertical-align: center;
	padding: 21px 30px;
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;

}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;

	opacity: 0.5;
}

.suggestions {
	margin-bottom: 53px;
}

.categories {
	display: flex;
	list-style: none;

	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.category {
	width: 300px;
	padding-bottom: 23px;
}

.category-btn {
	display: block;

	width: 135px;

	margin-left: 25px;
}

.category h3 {
	margin: 0;
	padding-top: 22px;
	padding-left: 23px;
	padding-bottom: 10px;

	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

}

.materials {
	position: relative;
	margin-right: 20px; 

	background-color: #ffbf47;
	background-image: url("../img/svg/icon-1.svg");
	background-position: 213px 31px;
	background-repeat: no-repeat;

}

.tool {
	margin-right: 20px; 

	background-color: #3bbce3;
	background-image: url("../img/svg/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 197px 31px;
}

.equipment {
	background-color: #dc91d8;
	background-image: url("../img/svg/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 190px 31px;
}

.slider-and-advantages {
	display: flex;
}

.advantages {
	list-style: none;

	margin: 0;
	margin-left: auto;
	padding: 0;
}

.discounts {
	margin-bottom: 20px;

	background-color: #8ed78f;
	background-image: url("../img/svg/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 196px 26px;
}

.free-delivery {
	background-color: #ffc047;
	background-image: url("../img/svg/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 191px 31px;
}

.category-btn {
	background-color: rgba(0, 0 , 0, 0.1);
}

.category-btn:hover,
.category-btn:focus {
	background-color: rgba(0, 0 , 0, 0.2);
}

.category-btn:active {
	background-color: rgba(0, 0 , 0, 0.3);
}

.slider {
	position: relative;
	width: 620px;
	margin-right: auto;
}

.slider-item {
	display: flex;
	flex-direction: column;
	height: 266px;
}

.slider-item .btn {
	margin-top: 120px;
	margin-bottom: 22px;
	margin-left: 25px;

	width: 195px;
}

.slider-title h3 {
	margin: 0;
	padding: 0;
	padding-top: 26px;
	padding-bottom: 5px;

	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	font-size: 36px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.slider-title {
	margin-left: 25px;
}

.slider-title p {
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	font-size: 18px;

	margin: 0;
	padding: 0;

}

.slider1-btn::before {
	content: "";

	position: absolute;
	left: 295px;
	bottom: 36px;
	width: 10px;
	height: 10px;

	background-color: #ffffff;
	border-radius: 50%;

	cursor: pointer;
}

.slider2-btn::before {
	content: "";

	position: absolute;
	right: 295px;
	bottom: 36px;

	width: 10px;
	height: 10px;

	background-color: #ffffff;
	border-radius: 50%;

	cursor: pointer;
}

.slider1-radio:checked + .slider1-btn::after {
	content: "";
	position: absolute;
	bottom: 38px;
	left: 297px;

	width: 6px;
	height: 6px;

	background-color: #ee3643;
	border-radius: 50%;
}

.slider2-radio:checked + .slider2-btn::after {
	content: "";
	position: absolute;
	bottom: 38px;
	right: 297px;

	width: 6px;
	height: 6px;

	background-color: #ee3643;
	border-radius: 50%;
}

.slider-back {
	position: absolute;
	z-index: 1;
	left: 25px;
	top: 50%;

	margin-top: -20px;

	width: 22px;
	height: 40px;

	background-color: transparent;
	background-image: url("../img/svg/icon-left.svg");
	background-repeat: no-repeat;
	background-position: center;

	border: none;

	cursor: pointer;
}

.slider-next {
	position: absolute;
	z-index: 1;
	right: 22px;
	top: 50%;

	margin-top: -20px;

	width: 22px;
	height: 40px;

	background-color: transparent;
	background-image: url("../img/svg/icon-right.svg");
	background-repeat: no-repeat;
	background-position: center;

	border: none;

	cursor: pointer;
}

.slider-drills {
	display: none;
	background-image: url("../img/slider2.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}

.slider-perforators {
	display: none;
	background-image: url("../img/slider1.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}

.slider1-radio:checked ~ .slider-perforators {
	display: block;
}

.slider2-radio:checked ~ .slider-drills {
	display: block;
}

.popular-title {
	background-color: #f9f5f0;
}

.popular-title {
	display: flex;
	margin-bottom: 20px;
}

.popular-title .btn {
	width: 253px;
	margin-top: 25px;
	margin-bottom: 26px;
	margin-left: auto;
	margin-right: 25px;
}

.popular-title h2 {
	margin: 0;
	margin-top: 28px;
	margin-bottom: 30px;
	margin-left: 30px;

	font-family: "Cuprum", "Arial", sans-serif;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.popular-manufacturers {
	margin-bottom: 65px;
}

.popular-manufacturers-list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.manufacturer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 218px;
	height: 142px;
	margin-right: 20px;
	margin-bottom: 20px;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.manufacturer a {
	margin: auto;
}

.manufacturer:nth-child(4n) {
	margin-right: 0;
}

.manufacturer:hover,
.manufacturer:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturer:active {
	box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

.services {
	margin-bottom: 75px;
	padding-top: 65px;
	padding-bottom: 5px; 

	background-color: #f4f8f9;
}

.services h2 {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;

	font-family: "Cuprum", "Arial", sans-serif;
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.services h3 {
	margin: 0;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #32425c;
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
}

.services p {
	margin: 0;
	font-size: 13px;
	line-height: 24px;
}

.service-change {
	display: flex;

	padding-top: 65px;
}

.services-change-buttons {
	position: relative;
	display: flex;
	flex-direction: column;

	width: 240px;

	margin-right: auto;
}

.services-change-buttons::after {
	content: "";

	position: absolute;
	left: 100%;
	bottom: 50px;

	margin-left: -10px;

	width: 10px;
	height: 280px;

	background-image: url("../img/png/shadow1.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.service-change-description {
	width: 620px;

	margin-left: auto;
}

.service-btn {
	box-sizing: border-box;
	padding: 17px 0;
	padding-left: 22px;

	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	text-align: left;

	background-color: #32425c;

	border: none;
}

.service-btn:hover,
.service-btn:focus {
	background-color: #293449;
} 

.service-btn-active {
	font-family: "Cuprum", "Arial", sans-serif;
	color: #32425c;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;

	background-color: #ffffff;
}

.service-btn-active:hover,
.service-btn-active:focus {
	color: #ffffff;

	background-color: #293449;
}

.service {
	min-height: 283px;
}

.service h3 {
	margin-top: 5px;
	margin-bottom: 28px;
}

.service p {
	width: 300px;
}

.delivery {
	background-image: url("../img/png/delivery.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.warranty {
	display: none;
	background-image: url("../img/png/guarantee.png");
	background-repeat: no-repeat;
	background-position: 100%, 50%;
}

.credit {
	display: none;
	background-image: url("../img/png/credit.png");
	background-repeat: no-repeat;
	background-position: 100%, 50%;
}

.columns.container {
	display: flex;
	margin-bottom: 83px;
}

.about-us {
	display: flex;
	flex-direction: column;
	width: 540px;
}

.about-us h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;

	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

.about-us ul {
	list-style: none;

	padding: 0;
	padding-left: 35px;
	margin: 0;
	margin-bottom: 35px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
}

.about-us li {
	position: relative;
	display: block;
	margin-bottom: 20px;
}

.about-us li:last-child {
	margin-bottom: 0;
} 

.about-us li::before {
	content: "";

	position: absolute;
	top: 8px;
	left: -36px;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.about-us p {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

.about-us .btn {
	width: 220px;
	margin-top: auto;
}

.contacts {
	display: flex;
	flex-direction: column;
	width: 300px;

	margin-left: auto;
}

.contacts h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;

	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

.contacts p {
	width: 200px;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}

.contacts a {
	display: block;
}

.contacts .btn {
	width: 100%;

	margin-top: auto;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;

	list-style: none;

	padding: 0;
	margin-bottom: 20px;
}

.breadcrumbs li {
	position: relative;
	margin-right: 40px;
}

.breadcrumbs li::before {
	content: "";

	position: absolute;
	left: -25px;
	top: 3px;

	width: 8px;
	height: 12px;

	background: url("../img/svg/icon-right-small.svg");
}

.breadcrumbs li:first-child::before {
	display: none;
}

.breadcrumbs a {
	display: block;

	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.breadcrumb-index {
	width: 14px;
	height: 14px;

	background-image: url(../img/svg/icon-home.svg);
	background-repeat: no-repeat;
	background-position: 0 2px;
}

.perforators {
	margin-bottom: 25px;
}

.perforators h1 {
	box-sizing: border-box;
	width: 940px;

	margin: 0;
	margin-bottom: 20px;
	padding: 30px;
	/*padding-top: 25px; */
	padding-right: 0;

	font-family: "Cuprum", "Arial", sans-serif;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;

	background-color: #f2f6f8;
}

.filters-and-catalog {
	display: flex;
}

.filters {
	width: 220px;
}

.filters fieldset {
	border: none;
	border-bottom: 1px solid #e5e5e5;  

	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

fieldset.power-filter {
	margin-bottom: 55px;
	border-bottom: none;
}

.filters legend {
	color: #000000;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 13px;
}

.filter p {
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 15px;
	padding: 8px 0;
	padding-left: 18px;

	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #f7f3ec;
}

.filter-option {
	margin-bottom: 16px;
}

.filter-option:last-child {
	margin-bottom: 20px;
}

.price-filter_range-dots {
	position: relative;
	height: 80px;
	margin-bottom: 8px;

	background-color: #f7f3ec;
}

.range-dot-min {
	display: block;
	position: absolute;
	z-index: 1;

	width: 20px;
	height: 22px;

	top: 30px;
	left: 20px;

	background-image: url("../img/svg/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.line {
	position: absolute;
	top: 50%;
	left: 20px;

	margin-top: -1px;

	width: 152px;
	height: 2px;
	background-color: #00ca74;

}

.range-dot-max {
	display: block;
	position: absolute;
	z-index: 1;

	width: 20px;
	height: 22px;

	top: 30px;
	right: 40px;

	background-image: url("../img/svg/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.line-after {
	position: absolute;
	top: 50%;
	right: 20px;

	margin-top: -1px;

	width: 30px;
	height: 2px;
	background-color: #d7dcde;
}

.range-dot-output {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 25px;
}

.range-output input {
	width: 95px;

	padding: 10px 0;

	background-color: #f7f3ec;
	border: none;

	color: #000000;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
}

.output-spacing {
	color: #444444;
	font-size: 16px;
	line-height: 18px;
}

.filter-input-checkbox + label,
.filter-input-radio + label {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}


.filter-input-checkbox:disabled::before,
.filter-input-radio:disabled::before {
	opacity: 0.4;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
	opacity: 0.4;
}

.manufacturers-filter ul {
	list-style: none;

	margin: 0;
	padding: 0;
	padding-left: 35px;
}

.manufacturers-filter li {
	position: relative;
}

.filter-input-checkbox + label::before {
	content: "";

	position: absolute;
	left: -35px;

	width: 27px;
	height: 23px;

	background-image: url("../img/svg/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.6;
}

.filter-input-checkbox:not([disabled]) + label:hover::before,
.filter-input-checkbox:not([disabled]):focus + label::before  {
	opacity: 1;
}

.filter-input-checkbox:checked + label::before {
	background-image: url("../img/svg/checkbox-on.svg");
}

.power-filter ul {
	list-style: none;

	margin: 0;
	padding: 0;
	padding-left: 35px;
}

.power-filter li {
	position: relative;
}

.filter-input-radio + label::before {
	content: "";

	position: absolute;
	left: -35px;
	top: -1px;

	width: 25px;
	height: 25px;

	background-image: url("../img/svg/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.6;
}

.filter-input-radio:not([disabled]) + label:hover::before,
.filter-input-radio:not([disabled]):focus + label::before {
	opacity: 1;
}

.filter-input-radio:checked + label::before {
	background-image: url("../img/svg/radio-on.svg");
}

.filter-button {
	font-family: "PT Sans", "Arial", sans-serif;

	width: 140px;
	padding: 10px 0;

	color: #000000;
	font-size: 13px;
	line-height: 18px;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #ffffff;
	border-color: #d5d5d5;
}


.sorting-and-catalog {
	width: 700px;
	margin-left: auto;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;

	list-style: none;

	margin: 0;
	padding: 0;
}

.hover-actions {
	display: none;
	position: absolute;

	left: 50%;
	top: 0;

	flex-direction: column;
	justify-content: center;

	width: 218px;
	height: 165px;

	margin-left: -109px;
	min-height: 85px;

	background-color: #ffffff
}

.catalog-item:hover .hover-actions {
	display: flex;
}

.buy {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 135px;

	margin: 0 auto;
	margin-bottom: 8px;
	padding: 10px 0;

	background-color: #63a63e;

	box-shadow: inset 0 -3px 0 #367315;
	border-radius: 2px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.buy::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 14px;

	width: 15px;
	height: 15px;

	background-image: url("../img/svg/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.buy:hover,
.buy:focus {
	background-color: #5fbb2d;
}

.buy:hover::before,
.buy:focus::before {
	opacity: 1;
}

.buy:active {
	background-color: #518534;
}

.to-bookmarks {
	display: block;
	box-sizing: border-box;
	width: 135px;

	margin: 0 auto;
	padding: 10px 0;

	border: 3px solid #63a63e;
	border-radius: 2px;

	color: #32425c;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.to-bookmarks:hover,
.to-bookmarks:focus {
	border-color: #32425c;
}

.to-bookmarks:active {
	opacity: 0.3;
}

.catalog-item {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 218px;

	margin-right: 20px;
	margin-bottom: 20px;

	background-color: #ffffff;
	border: 1px solid #eaeaea;
}


.new {
	position: absolute;
	z-index: 1;

	top: 0;
	right: -1px;

	width: 60px;
	height: 59px;

	background-image: url("../img/svg/new_flag.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.catalog-item h3 {
	order: 2;

	width: 160px;

	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;

	margin: 0 auto;
	/*margin-top: 11px;*/
	margin-bottom: 15px;
	padding: 0;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item-price {
	display: flex;
	flex-direction: column;
	align-items: center;
	order: 3;
	margin-top: auto;
	margin-bottom: 20px;
}

.catalog-item.popular-item {
	margin-right: 20px;
}

.catalog-item.popular-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item:hover,
.catalog-item:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-name {
	color: #000000;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
}

.old-price {
	margin-bottom: 10px;

	color: #999999;
	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;
}

.price-btn {
	position: relative;
	width: 140px;
	font-size: 17px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
}

.price-btn::after {
	content: "";

	position: absolute;
	top: 0;
	right: -20px;

	border: 19px solid white;
	border-left-color: #ee3643;
}

.price-btn:hover::after,
.price-btn:focus::after {
	border-left-color: #ca2c37;
}

.price-btn:active::after {
	border-left-color: #ba2732;
}

.sorting {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	background-color: #f7f3ec;
}

.sorting-categories {
	display: flex;
	justify-content: space-between;
	width: 380px;
	margin-left: 140px;
	margin-right: 50px;
}


.sorting-direction {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60px;
}

.sorting-categories a {
	color: #000000;
	font-size: 13px;
	line-height: 18px;

	opacity: 0.3;
	text-transform: uppercase;

	border-bottom: 1px dotted #ee3643;
}


.sorting-categories a:hover,
.sorting-categories a:focus {
	color: #000000;
	opacity: 1;

	border-bottom: 1px solid #ee3643;
}

.sorting h3 {
	margin: 0;
	margin-left: 20px;
	padding: 8px 0;

	color: #000000;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}



.sorting-up {
	width: 11px;

	margin-right: 20px;

	opacity: 0.3;
}

.sorting-down {
	width: 11px;

	margin-right: 17px;

	opacity: 0.3;
	border: none;
}

.sorting-up:hover,
.sorting-up:focus,
.sorting-down:hover,
.sorting-down:focus {
	opacity: 1;
}

a.sorting-active {
	color: #ee3643;
	opacity: 1;
	border: none;
}

.sorting-active path {
	fill: #ee3643;
}

.pagination-list {
	display: flex;

	margin: 0;
	margin-bottom: 60px;
	margin-left: 240px;
	padding: 0;

	list-style: none;
}

.pagination-item {
	display: block;
	box-sizing: border-box;
	min-width: 38px;

	padding: 10px 0;
	margin-right: 10px;

	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-align: center;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 5px; 
}

.pagination-next {
	width: 140px;

	margin-right: 0;

	text-transform: uppercase;
}

.pagination-item:hover,
.pagination-item:focus {
	border: 1px solid #bdc6ca;
}

.pagination-item:active {
	border: 1px solid #ee3643;
} 

.pagination-item-current {
	color: #ffffff;

	background-color: #ee3643;
}

.about-perforators {
	background-color: #f2f6f8;

	padding-top: 40px;
	padding-bottom: 70px;
}

.about-perforators h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.about-perforators p {
	color: #000000;
	font-size: 13px;
	line-height: 24px;

	margin: 0;
}

.main-footer {
	background-color: #32425c;
}

.main-footer .container {
	display: flex;
}

.footer-navigation a:hover, 
.footer-navigation a:focus {
	text-decoration: underline;
}

.footer-navigation a:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-top {
	margin-bottom: 30px;
}

.footer-top p {
	font-family: "Cuprum", "Arial", sans-serif;
	color: #f3f7f9;
	font-size: 18px;
	line-height: 24px;
}

.footer-logo {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 33px;

	width: 220px;
	height: 63px;
}

.footer-top-contacts {
	width: 380px;
}

.footer-top-contacts p {
	padding-left: 5px; 
}

.footer-navigation {
	display: flex;
	flex-direction: column;
	width: 550px;

	margin-left: auto;
}

.nav-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;

	margin: 0;
	margin-top: 37px;
	margin-bottom: 35px;
	padding: 0;
}

.nav-top a {

	font-family: "Cuprum", "Arial", sans-serif;
	color: #f1f5f7;
	font-size: 18px;
	line-height: 24px;
}

.nav-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;

	margin: 0;
	margin-left: 25px;
	padding: 0;
}

.nav-bottom a {
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffd180;
	font-size: 18px;
	line-height: 24px;
}

.footer-bottom {
	background-color: #293449;

	font-family: "Cuprum", "Arial", sans-serif;

	padding-top: 37px;
	padding-bottom: 30px;
}

.footer-bottom .container {
	display: flex;
}

.copyright {
	width: 230px;

	margin: 0;
	padding: 0;

	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.social {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
	width: 150px;

	margin: 0;
	margin-left: auto;
	padding: 0;

	list-style: none;
}

.social li {
	margin-right: 3px;
	text-align: center;
}

.social a:hover,
.social a:focus,
.social a:active {
	background-color: #ee3643;
}

.social a {
	display: block;
	border-radius: 50%;
	width: 42px;
	height: 42px;

	background-color: #212a3a;
}

.vk {
	background-image: url("../img/svg/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.facebook {
	background-image: url("../img/svg/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.instagram {
	background-image: url("../img/svg/insta-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.feedback {
	width: 140px;

	margin: 0;
	margin-left: 100px; 

	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.feedback a {
	color: #ffda96;
}

.feedback a:hover,
.feedback a:focus {
	text-decoration: underline;
}

.feedback a:active {
	color: #ee3643;
	text-decoration: none; 
}

.developed {
	box-sizing: border-box;
	width: 140px;

	margin: 0;
	margin-left: 20px;
	padding-left: 30px;

	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.developed a {
	color: #ffda96;
}

.developed a:hover,
.developed a:focus {
	text-decoration: underline;
}

.developed a:active {
	color: #ee3643;
	text-decoration: none;
}

.modal-write-us {
	display: none;
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 620px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
	border-top: 7px solid #ee3643;
	margin-left: -310px;
	margin-top: -237px;

	background-color: #ffffff;
}

.write-us-input {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 0 80px;
	margin-bottom: 37px;
}

.write-us-button {
	background-color: #f4f4f4;
	padding: 37px 0;
}

.write-us-form .btn {
	width: 460px;

	border: none;
	margin: 0 auto;
}

.write-us-form label {
	display: block;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;

	margin-bottom: 13px;
}

.write-us-name,
.write-us-mail {
	margin: 0;
	padding: 0;
	margin-top: 48px;
	margin-bottom: 22px; 
	width: 220px;
}

.write-us-text {
	margin: 0;
	padding: 0;
}


.write-us-name input,
.write-us-mail input,
.write-us-text textarea {
	box-sizing: border-box;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 13px;
	padding-left: 14px;

	border: 2px solid #dee3e4;
	border-radius: 2px;

	outline: none;
}

.write-us-text textarea {
	width: 460px;
	min-height: 110px;
}


.write-us-name input::placeholder,
.write-us-mail input::placeholder,
.write-us-mail textarea::placeholder {
	font-size: 13px;
	line-height: 18px;
	color: #999999;
}

.write-us-name input:hover,
.write-us-mail input:hover,
.write-us-text textarea:hover {
	border-color: #b5b5b5;
}

.write-us-name input:focus,
.write-us-mail input:focus,
.write-us-text textarea:focus {
	border-color: #ee3643;
}

.modal-map {
	display: none;
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 940px;
	height: 446px;

	margin-left: -470px;
	margin-top: -223px;

	background-color: #565656;
	box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5); 
}

.modal-close {
	position: absolute;
	top: 9px;
	right: 9px;

	width: 21px;
	height: 21px;

	background-color: transparent;
	background-image: url(../img/svg/form-2.svg);
	background-repeat: no-repeat;
	background-position: center;

	border: none;
}
.modal-added {
	display: none;
	position: fixed;
	z-index: 2;
	width: 620px;
	top: 50%;
	left: 50%;

	margin-top: -143px;
	margin-left: -310px;

	background-color: #f1f1f1;

	box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
	border-top: 7px solid #ee3643;
}

.item-added {
	color: #000000;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;

	margin: 0;
	padding: 68px 0;
	padding-left: 180px;
}

.item-added::before {
	content: "";

	position: absolute;
	top: 54px;
	left: 81px;

	width: 66px;
	height: 66px;

	background-image: url("../img/svg/icon-mark.svg");
}

.added-bg {
	background-color: #ffffff;
}

.added-btns {
	display: flex;
	padding: 37px 0;
}

.order-btn {
	margin-left: auto; 
	width: 220px;
}

.button-continue {
	color: #000000;

	margin-right: auto;

	width: 220px;
	background-color: #ffffff;
	margin-left: 20px;
}

.button-continue:hover,
.button-continue:focus {
	background-color: #ffffff;
	opacity: 0.5;
}